@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 229 0% 7%;

    --muted: 210 40% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 210 40% 88%;
    --input: 210 40% 88%;

    --primary: 229 0% 7%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 92%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 92%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 56% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 64%;

    --popover: 240 10% 4%;
    --popover-foreground: 210 40% 98%;

    --card: 0 0% 30%;
    --card-foreground: 210 40% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;

    --primary: 210 40% 98%;
    --primary-foreground: 229 0% 7%;

    --secondary: 240 4% 20%;
    --secondary-foreground: 210 40% 98%;

    --accent: 0 0% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 56% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 240 4% 16%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
